doctype 5
html
	head
		title= title
		meta(name="viewport", content="user-scalable=no", width="device-width", initial-scale="1.0", maximum-scale="1.0")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/socket.js")
		script(src="/javascripts/paper.js")
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/jquery-ui.js")

	body(style="padding:0;")
		block content
